<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
 <h1>Welcome Email</h1>
<p>
	You have successfully signed up to our store 

	Username is :<%=@user.email%> <br>
    Password is :<%=@user.password%>

    To login to the site, just follow this link: <%=@url%> 

    <h3>Thanks for joining and have a great day!</h3>
</p>

</body>
</html>