<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @shopkeeper_category.category %>
</p>

<%= link_to 'Edit', edit_shopkeeper_category_path(@shopkeeper_category) %> |
<%= link_to 'Back', shopkeeper_categories_path %>
